body {
    background-image:url(img/gr.jpg);
    width: 600px;
    margin: 0 auto;
    padding: 0;
    font-family: courier, monospace;
    backdrop-filter: blur(10px) brightness(0.6);
  }
  
  form {
    font-size: 22px;
  }
  label{
    font-size: 22px;
    color: #f8f8f8;
  }
  
  input[type="text"]{
    background-color : #f8f8f8;
  }
  
  #addNeed {
    background-color : #f8f8f8;
    color: #3498db;
  }
  
  #addHave {
    background-color : #f8f8f8;
    color: #3498db;
  }
  
  h1 {
    color: #f8f8f8;
    font-size: 50px;
  }
  
  h2 {
    color: #f8f8f8;
    font-size: 42px;
    letter-spacing: -2px;
    text-align: left;
  }
  .list {
    color: #555;
    font-size: 22px;
    padding: 0;
    width: 500px;
    border: 1px solid #dedede;
  }
  .list li {
    list-style: none;
    background-color : #f8f8f8;
    border-bottom: 1px dotted #ccc;
    text-indent: 25px;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
    color: black;
  }
  li a {
    float: right;
    text-decoration: none;
    color: red;
  }
